# Тема 6.1 Введение в базы данных.  Модели данных

Лекция 1. Введение в базы данных 

**Базы данных и системы управления базами данных** 

Данные -- зарегистрированная информация; представление фактов, понятий или инструкций в форме, приемлемой для общения, интерпретации, или обработки человеком или с помощью автоматических средств [[источник]](https://ru.wikipedia.org/wiki/%D0%94%D0%B0%D0%BD%D0%BD%D1%8B%D0%B5). 

Данные -- это отдельные упорядоченные факты, характеризующие объекты,
процессы и явления предметной области, а также их свойства [[1]](#TA_Gavrilova).

База данных -- это некоторый набор постоянно хранимых данных, используемых прикладными программными системами какого-либо предприятия [[2]](#CJ_Date).

База данных -- организованная в соответствии с определенными правилами и поддерживаемая в памяти компьютера совокупность данных, характеризующая актуальное состояние некоторой предметной области и используемая для удовлетворения информационных потребностей пользователей [[3]](#MR_Kogalowski).

Совокупность данных, хранимых под управлением СУБД, называется базой данных [[4]](#BA_Novikov).

Система управления базами данных (СУБД) -- это программный комплекс, обеспечивающий централизованное хранение данных и предоставляющий приложениям услуги по обработке данных [[4]](#BA_Novikov).  

Таким образом, **данные** аккумулируются и составляют **базы данных**, с которыми, в свою очередь, работают (создают, наполняют, модифицируют и осуществляют поиск) **системы управления базами данных**.

Требования к СУБД:

|Требование|Комментарий|
|--:|:--|
|Разделение программ и данных|Описание структуры данных должно быть отделено от кода приложения|
|Высокоуровневый язык запросов|Система должна предоставлять средства для обработки данных, не включенные в какое-либо приложение|
|Целостность|Система должна предотвращать запись данных, нарушающих заранее специфицированные ограничения|
|Согласованность|Система должна предотвращать появление некорректностей в данных вследствие параллельной работы нескокльих приложений|
|Отказоустойчивость|СУБД не должна допускать потери данных даже в случае отказов оборудования|
|Защита и разграничение доступа|Система должна предоставлять каждому пользователю доступ только к части данных в соответствии с правами этого пользователя|

Наиболее распространенные СУБД [[источник]](https://public.flourish.studio/visualisation/6054072/?utm_source=showcase&utm_campaign=visualisation/6054072): `Oracle`, `MySQL`, `Microsoft SQL Server`, `PostgreSQL`, `MongoDB`, `IBM Db2`, `Redis`, `Elasticsearch`, `SQLite`, `Microsoft Access`.

СУБД классифицируются по разным признакам: способы доступа к БД; схема лицензирования. 

Пример классификации СУБД по способу доступа к БД

|Класс СУБД|СУБД|Комментарий|
|--:|:--|:--|
|Клиент-серверные СУБД|Microsoft SQL Server, Oracle, Firebird, PostgreSQL, InterBase, MySQL|Вся обработка данных ведется в одном месте, на сервере, в том же месте, где хранятся данные|
|Файл-серверные СУБД|Paradox, Microsoft Access, FoxPro, dBase|Приложения имеют общий доступ ко всем файлам базы данных и совместно обрабатывают эти данные|
|Встраиваемые СУБД|SQLite, Firebird Embedded, Microsoft SQL Server Compact|Предназначены для локального хранения данных приложения и не рассчитаны на коллективное использование в сети|

**Архитектура <<клиент/ сервер>>** [[5]](#Manual_Microsoft). 

Клиент/серверная архитектура описывает распределенные системы, состоящие из отдельных клиента и сервера и соединяющей их сети. Простейшая форма системы клиент/сервер, называемая 2-уровневой архитектурой -- это серверное приложение, к которому напрямую обращаются множество клиентов. Программы-серверы ожидают от клиентских программ запросы и предоставляют им свои ресурсы в виде данных. Общая схема клиент/серверной архитектуры представлена на [рисунке](https://habr.com/ru/post/495698/). 

<figure>
<center>
<img src='https://drive.google.com/uc?export=view&id=14MI3714_mJYrHBqvoQF94myUyYPfyeDw' width="500" height="300" />
<figcaption>Клиент/серверная архитектура</figcaption></center>
</figure>


Основные преимущества архитектурного стиля клиент/сервер:
- Большая безопасность. Все данные хранятся на сервере, который обычно
обеспечивает больший контроль безопасности, чем клиентские компьютеры.
- Централизованный доступ к данным. Поскольку данные хранятся только на сервере,
администрирование доступа к данным намного проще, чем в любых других
архитектурных стилях.
- Простота обслуживания. Роли и ответственность вычислительной системы
распределены между несколькими серверами, общающимися друг с другом по сети.
Благодаря этому клиент гарантированно остается неосведомленным и не
подверженным влиянию событий, происходящих с сервером (ремонт, обновление
либо перемещение).

Основной недостаток архитектурного стиля клиент/сервер состоит в связывании данных и бизнес-логики приложения на сервере.

**Моделирование и модели данных**

Моделирование данных -- начальный этап в проектировании базы данных, относится к процессу создания конкретной модели данных для определенной области. 

Модель данных -- абстракция  сложного объекта или события реального мира.

При проектировании баз данных широко используется модель [<<сущность -- связь>>](https://ru.wikipedia.org/wiki/ER-%D0%BC%D0%BE%D0%B4%D0%B5%D0%BB%D1%8C). 

Основными элементами модели данных являются *сущности*, *атрибуты*, *связи
(отношения)* и *ограничения*. 

Сущность -- это объекты, о которых будут собираться и храниться данные. 

Атрибут -- является свойством объекта. 

Связь -- описывает отношение между сущностями. Модели данных используют три типа связи: один-ко-многим, многие-ко-многим и один-к-одному.

Ограничение -- это лимиты на данные. Ограничения важны, потому что они помогают
обеспечить целостность данных. Ограничения обычно выражаются в виде правил.

<figure>
<center>
<img src='https://drive.google.com/uc?export=view&id=14Mi4J9ouWhbp_K4tzo-dHXYFAaVfZiC8' width="500" height="300" />
<figcaption>Пример ER-диаграммы</figcaption></center>
</figure>

Более подробно про нотацию ER-диаграмм можно почитать [здесь](https://www.lucidchart.com/pages/ru/erd-%D0%B4%D0%B8%D0%B0%D0%B3%D1%80%D0%B0%D0%BC%D0%BC%D0%B0).


К настоящему моменту времени разработано достаточно много моделей данных.

<figure>
<center>
<img src='https://drive.google.com/uc?export=view&id=14QVSIdWpIRN00ZBB9UDeAwFzBHvD6c-B' width="500" height="600" />
<figcaption>Эволюция моделей данных</figcaption></center>
</figure>

Наиболее распространенной считается [реляционная модель данных](https://ru.wikipedia.org/wiki/%D0%A0%D0%B5%D0%BB%D1%8F%D1%86%D0%B8%D0%BE%D0%BD%D0%BD%D0%B0%D1%8F_%D0%BC%D0%BE%D0%B4%D0%B5%D0%BB%D1%8C_%D0%B4%D0%B0%D0%BD%D0%BD%D1%8B%D1%85).


[Основные понятия](https://bstudy.net/732012/informatika/osnovnye_ponyatiya_relyatsionnyh_dannyh) реляционной модели данных: отношение, домен, атрибут, кортеж и первичный ключ.

<figure>
<center>
<img src='https://drive.google.com/uc?export=view&id=14Te-BWcBoKK6eQoQwV03YjusviwPgA0C' width="500" height="300" />
<figcaption>Пример отношения</figcaption></center>
</figure>

Реляционная модель предусматривает способ представления данных в виде набора двумерных таблиц, которые называют отношениями.

Формально *отношение* определяется как $n$-местный предикат, т.е. функция с $n$ аргументами, принимающая булево значение: `true` или `false`. 

Для каждого задан `домен` (тип), из которого могут выбираться значения этого атрибута. 

Домен отношения (поле) -- множество атомарных значений одного и того же типа.

Аргументы отношения называются атрибутами отношения. Имена атрибутов одного отношения обязательно должны быть различны. С каждым атрибутом связан некоторый домен, из которого выбираются значения атрибута. Множество всех атрибутов называется схемой отношения.

Совокупность из $n$ значений, по одному значению для каждого атрибута, называется кортежем. Иными словами, кортеж -- это набор значений аргументов, для которого можно вычислить предикат, соответствующий отношению. Кортеж принадлежит отношению, если придикат принимает истинное значение на этом кортеже.

Пример. Сотрудники(ФИО := "Орлов В.В.", Год рождения := 1976, Должность := "Лаборант", Отдел = 1)

Каждый кортеж состоит из $n$ значений, поэтому отношения принято записывать в виде таблиц, содержащих $n$ колонок, соответствующий атрибутам отношения. а каждая строка таблицы соответствует одному кортежу. Порядок не важен.

<u>Замечание</u>. *Отношение* принято называть таблицей, атрибуты -- колонками или столбцами, а кортежи -- строками.

Множество атрибутов, от которого функционально зависят все атрибуты отношения, называется возможным ключом отношения. Возможный ключ называется минимальным, если после исключения из него любого атрибута оставшееся множество атрибутов не является возможным ключом. Один из минимальных ключей выбирается в качестве первичного ключа отношения. Значения первичного ключа, как и любого возможного ключа, уникальны и могут использоваться для идентификации записей.    


**Нормализация**

Нормализация -- это процесс удаления избыточных данных.

Нормализация нужна для:
- Устранения аномалий;
- Повышения производительности;
- Повышения удобства управления данными.

Процесс нормализации --- это последовательный процесс приведения базы данных к эталонному виду, т.е. переход от одной нормальной формы к следующей.

Выделяют следующие нормальные формы:
- Первая нормальная форма (1NF);
- Вторая нормальная форма (2NF);
- Третья нормальная форма (3NF);
- Нормальная форма Бойса-Кодда (BCNF);
- Четвертая нормальная форма (4NF);
- Пятая нормальная форма (5NF);
- Доменно-ключевая нормальная форма (DKNF);
- Шестая нормальная форма (6NF).

База данных считается нормализованной, если она находится как минимум в третьей нормальной форме (3NF).

Для того, чтобы база данных находилась в 1 нормальной форме, необходимо чтобы ее таблицы соблюдали следующие реляционные принципы:
- В таблице не должно быть дублирующих строк;
- В каждой ячейке таблицы хранится атомарное значение (одно не составное значение);
- В столбце хранятся данные одного типа;
- Отсутствуют массивы и списки в любом виде.

Для того, чтобы база данных находилась во второй нормальной форме (2NF), необходимо чтобы ее таблицы удовлетворяли следующим требованиям:
- Таблица должна находиться в первой нормальной форме;
- Таблица должна иметь ключ;
- Все неключевые столбцы таблицы должны зависеть от полного ключа (в случае если он составной).

Главное правило второй нормальной формы (2NF) --- таблица должна иметь правильный ключ, по которому можно идентифицировать каждую строку.

Требование третьей нормальной формы (3NF) заключается в том, чтобы в таблицах отсутствовала транзитивная зависимость.

Транзитивная зависимость -- это когда неключевые столбцы зависят от значений других неключевых столбцов.


Требования нормальной формы Бойса-Кодда следующие:

- Таблица должна находиться в третьей нормальной форме;
- Ключевые атрибуты составного ключа не должны зависеть от неключевых атрибутов.

Главное правило нормальной формы Бойса-Кодда (BCNF) звучит следующим образом:

Часть составного первичного ключа не должна зависеть от неключевого столбца.
 

## Литература 
1. <a name="TA_Gavrilova"></a> Гаврилова Т.А., Кудрявцев Д.В., Муромцев Д.И. Инженерия знаний. Модели и методы. -- СПб.: Лань, 2016. -- 324 с.
2. <a name="CJ_Date"></a> Дейт К.Дж. Введение в системы баз данных. --  8-е издание. -- М.: Вильямс, 2005. -- 1328 с. 
3. <a name="MR_Kogalowski"></a> Когаловский М.Р. Энциклопедия технологий баз данных. -- ­ М.: Финансы и статистика, 2005. -- 800 с.   
4. <a name="BA_Novikov"></a> Новиков Б.А. Основы технологий баз данных. -- 2-е изд. -- М.: ДМК Пресс, 2020. -- 582 с. 
5. <a name="Manual_Microsoft"></a> Руководство Microsoft по проектированию архитектуры приложений. -- 2-е изд. -- 2009. -- 529 с

# Тема 6.2 Основы синтаксиса SQL

## Язык SQL

SQL (от англ. Structured Query Language -- язык структурированных запросов) --  декларативный язык программирования, применяемый для создания, модификации и управления данными в реляционной базе данных, управляемой соответствующей системой управления базами данных [[источник]](https://ru.wikipedia.org/wiki/SQL).
Язык SQL представляет собой совокупность инструкций, операторов, вычисляемых функций.

**sql-запрос**

Взаимодествие пользователя с СУБД осуществляется посредством так называемых sql-запросов или инструкций.

```sql
SELECT *
 FROM book 
```

<u>Замечание</u> Понятия <<инструкциия>> и <<sql-запрос>> на практике часто употребляются как синонимы. 

SQL-запрос -- это набор команд для работы с реляционными базами данных.

Инструкция SQL состоит из нескольких частей, называемых предложениями. Каждое предложение в инструкции SQL имеет свое назначение. Некоторые предложения являются обязательными. Каждая инструкция должна завершаться `;`.

Компонентами инструкции могут быть ключевое слово, идентификатор,  строка (или константа) или специальный символ. Компоненты обычно разделяются пробельными символами (пробел, табуляция, перевод строки), но это не требуется.

<u>Замечание</u>. При написании запросов рекомендуется придерживаться [Руководства по стилю SQL](https://www.sqlstyle.guide/ru/).

**Ключевые слова и идентификаторы**

Ключевые слова -- слова, имеющие фиксированное значение в языке SQL (например, операторы или функции). Ключевые слова могут быть зарезервированными и незарезервированными. [Здесь](https://postgrespro.ru/docs/postgrespro/9.6/sql-keywords-appendix) можно посмотреть список.  

Согласно стандарту, действительно ключевыми словами являются только зарезервированные слова. 

В соответствии со стандартом, **зарезервированные ключевые слова нельзя** использовать для именования объектов базы данных, таких как таблицы, столбцы и пользователи. 

Незарезервированные ключевые слова имеют особое значение только в определенных контекстах и могут быть идентификаторами в других. Большинство незарезервированных ключевых слов на самом деле представляют имена встроенных таблиц и функций, определенных в SQL.

Идентификаторы задаются пользователем и применяются для определения имен таблиц, столбцов или других объектов баз данных. 

Идентификаторы и ключевые слова в SQL должны начинаться с буквы (a-z, хотя допускаются также не латинские буквы и буквы с диакритическими знаками) или нижнего подчеркивания (_). Последующими символами в идентификаторе или ключевом слове могут быть буквы, цифры (0-9), знак нижнего подчеркивания. 

**Типы данных**

Типы данных SQL разделяются на три группы:
- строковые;
- с плавающей точкой (дробные числа);
- целые числа, дата и время.

Подробнее можно посмотреть [здесь](https://sql-language.ru/osnova-sql/tipy-dannykh-sql.html).

К основным принято относить следующие:

|Тип данных|Описание|
|--:|:--|
|`VARCHAR(size)`|Может хранить не более 255 символов|
|`FLOAT(size,d`)|Число с плавающей точкой небольшой точности|
|`DATE()`|Дата в формате ГГГГ-ММ-ДД|
|INT(size)|	Диапазон от -2 147 483 648 до 2 147 483 647|



К некоторых СУБД есть специальные типы данных. Подробнее можно посмотреть [здесь](https://sql-language.ru/osnova-sql/tipy-dannykh-sql.html).

**Комментарии**

В SQL есть комментарии
``` sql
-- это стандартный однострочный комментарий SQL
```
и 
``` sql
/* многострочный комментарий
первая строка комметария
вторая строка комметария
 */
```

Команды SQL делятся на следующие группы:

**Определение данных**

|Команда|Комментарий|
|--:|:--|
|`CREATE TABLE` | Добавляет новую таблицу в базу данных|
|`DROP TABLE`   | Удаляет таблицу из базы данных|
|`ALTER TABLE`  | Изменяет структуру существующей таблицы|
|`CREATE VIEW` | Добавляет новое представление в базу данных|
|`DROP VIEW`   | Удаляет представление из базы данных|
|`CREATE INDEX` | Создает индекс для столбца|
|`DROP INDEX` | Удаляет индекс столбца|
|`CREATE SCHEMA` | Добавляет новую схему в базу данных|
|`DROP SCHEMA` | Удаляет схему из базы данных|
|`CREATE DOMAIN` | Добавляет новый домен значений данных|
|`ALTER DOMAIN`  | Изменяет определение домена|
|`DROP DOMAIN` | Удаляет домен из базы данных|

**Обработка данных**

|Команда|Комментарий|
|--:|:--|
|`SELECT` | Извлекает данные из базы данных|
|`INSERT` | Добавляет новые строки в базу данных|
|`UPDATE` | Обновляет данные, имеющиеся в базе данных|
|`MERGE` | Добавляет/обновляет/удаляет новые и старые строки на основе условий|
|`DELETE` | Удаляет строки из базы данных|

**Управление доступом**

|Команда|Комментарий|
|--:|:--|
|`GRANT` | Предоставляет пользователю привилегии доступа|
|`REVOKE` | Отменяет пользовательские привилегии доступа|
|`CREATE ROLE` | Добавляет в базу данных новую роль|
|`GRANT ROLE` | Предоставляет роль, содержащую привилегии доступа|
|`DROP ROLE` | Удаляет роль из базы данных|

**Управление транзакциями**

|Команда|Комментарий|
|--:|:--|
|`COMMIT` | Завершает текущую транзакцию|
|`ROLLBACK` | Отменяет текущую транзакцию|
|`SET TRANSACTION` | Определяет характеристики доступа к данным в текущей транзакции|
|`START TRANSACTION` | Явно начинает новую транзакцию|
|`SAVEPOINT`| Устанавливает точку восстановления транзакции|

**Работа с СУБД SQLite в Python**

Для работы с `SQLite` в `Python` используется модуль `sqlite3`.

`Python` поддерживает следующие типы данных `SQL`:

|Тип данных|Описание|
|--:|:--|
|`NULL`|Значение NULL|
|`INTEGER`|Целое число|
|`REAL`|Число с плавающей точкой|
|`TEXT`|Текст|
|`BLOB`|Бинарное представление крупных объектов|

Наиболее распространенные методы библиотеки `sqlite3`

|Команда|Комментарий|
|--:|:--|
|`connect()`|Метод для создания соединения с базой данных|
|`cursor()`|Метод для создания курсора -- объекта `Cursor`|
|`execute()`|Метод для выполнения одного выражения SQL|
|`executemany()`|Метод позволяет выполнить одно выражение SQL для последовательности параметров|
|`fetchone()`|Метод возвращает одну строку данных|
|`fetchall()`|Метод возвращает все строки в виде списка|
|`commit()`|Метод применяет изменения к БД|
|`close()`||

 

Примечание: объект `Cursor` -- это основной способ работы с БД.  Создается курсор из соединения с БД. 

Подробное описание библиотеки можно найти [здесь](https://docs.python.org/3/library/sqlite3.html).


sqlite_master

Общая схема работы

```python
import sqlite3 # подключение библиотеки
con = sqlite3.connect("bibl.db") # подключение к базе/ если не было, то будет создана
cur = con.cursor() # задание курсора БД
cur.execute(...) #выполнение запросов  
cur.close() #закрытие БД 
```

Создание таблиц

Инструкция 
```sql
CREATE TABLE table_name (
    column1 datatype,
    column2 datatype,
    column3 datatype,
   ....
);
```

In [2]:
import sqlite3 
import pandas as pd

In [3]:
con = sqlite3.connect("bibl.db") # подключение к базе/ если не было, то будет создана
cur = con.cursor() # задание курсора БД

q_create_table = """
CreATE TABLE authors(author_id TEXT not NULL primary key, 
                      first_name TEXT, 
                      last_name TEXT,
                      age INTEGER,
                      raiting REAL);
"""


cur.execute(q_create_table)
con.commit()

**Добавление данных** 

Инструкция
```sql
INSERT INTO таблица(поле1, поле2) 
VALUES (значение1, значение2);
```

In [4]:
querty_insert = """
INSERT INTO authors(author_id, first_name, last_name,  age, raiting) 
VALUES -- ('iisidorov_46', 'И.И.', 'Сидоров', 46, 4.5),
       ('iisidorov_48', 'Т.А.', 'Иванов', 84, 9), 
       ('iisidorov_47', 'С.А.', 'Петров', 84, 9);
"""
cur.execute(querty_insert)
con.commit()

In [5]:
querty_show = """
SELECT * 
    FROM authors;
"""

cur.execute(querty_show)
cur.fetchall()

[('iisidorov_48', 'Т.А.', 'Иванов', 84, 9.0),
 ('iisidorov_47', 'С.А.', 'Петров', 84, 9.0)]

In [6]:
pd.read_sql(querty_show, con)

      author_id first_name last_name  age  raiting
0  iisidorov_48       Т.А.    Иванов   84      9.0
1  iisidorov_47       С.А.    Петров   84      9.0

In [7]:
querty_update = """
UPDATE authors
SET author_id = 'ty'
WHERE author_id = 'iisidorov_48';
"""

cur.execute(querty_update)
con.commit()

In [8]:
pd.read_sql(querty_show, con)

      author_id first_name last_name  age  raiting
0            ty       Т.А.    Иванов   84      9.0
1  iisidorov_47       С.А.    Петров   84      9.0

**Удаление данных** 

Инструкция 
```sql
DELETE FROM <имя таблицы > 
[WHERE <предикат>];
```

In [9]:
sql_delete_query = """
DELETE
 FROM authors 
WHERE age < 30; 
"""
cur.execute(sql_delete_query)
con.commit()

**Обновление данных** 

Инструкция

```sql
UPDATE table_name
SET column1 = value1, column2 = value2, ...
WHERE condition;
```

In [10]:
sqlite_update_query = """
Update authors set age = ?, first_name = ? where author_id = ?"""
records_to_update = [(44, 'Пантелев', 'petrov_56'), (78, 'Филимонов', 'ivanov_27'), (84, 'Кочергин', 'sidorov_45')]
cur.executemany(sqlite_update_query, records_to_update)
con.commit()

In [11]:
cur.close()