Итоговая работа должна отвечать следующим требованиям:

Программа реализована на языке программирования Python.

Выполнена загрузка и чтение данных из файлов.

Выполнена предварительная обработка данных (очистка и форматирование данных).

Выполнен разведочный анализ данных EDA.

Определены важные признаки. Выполнен поиск взаимосвязей между признаками.

Выполнено уменьшение размерности массива данных.

Составлена гипотеза о данных и выполнена проверка 
соответствующей гипотезы.

# Задача построения профилей клиентов платежной системы

Аналитическая задача — провести анализ данных с целью выделения наиболее типичных групп клиентов и разработки предложений для каждой из групп.

# Задача построения профилей клиентов платежной системы

Рассматривается задача сегментации клиентской базы системы денежных переводов. В распоряжении имеется датасет клиентов, каждый из которых описывается следующим набором признаков: 

Каждый клиент описывается следующим набором признаков:

|Признак|Комментарий|
|--:|:--|
|mdm_id|Идентификатор|
|BIRTHDAY|Дата рождения|
|CREDCODE|Кредитный код|
|1.1|Дисциплина клиентов без просрочки|
|1.2|Дисциплина клиентов с редкими просрочками|
|2.1|Количество переводов|
|2.1.1|Количество переводов до 1 смс|
|2.1.2|Количество переводов после 1 смс|
|2.1.3|Количество переводов до взятия кредита|
|2.1.4|Количество переводов после взятия кредита|
|2.2|Тип переводов|
|2.3|География переводов|
|2.4|География телефона|
|2.5|Сумма перевода|
|2.5.1|Максимальная сумма перевода|
|2.5.2|Средняя сумма перевода|
|2.5.3|Полная сумма перевода|
|2.5.4|Сумма перевода за полгода до взятия кредита|
|2.5.5|Сумма перевода за год до взятия кредита|
|4|Канал, через который пришел клиент|
|5.1|Количество смс до отклика|
|5.2|Дней с первой смс|
|5.6|Оператор связи|
|6.1|Возраст|
|6.2|Пол|
|6.5|Совпал ли регион получения кредита с регионом телефона|
|6.6|Указал иной номер телефона при выдаче кредита|

Шаг 1. Загрузка данных;

Шаг 2. Первичная обработка данных (при необходимости):
- скорректировать заголовки;
- скорректировать типы признаков;
- проверить наличие дублирующихся записей;
- проверить наличие аномальных значений;
- восстановить пропущенные значения;

Шаг 3. Провести исследовательский анализ данных:
- исследовать распределения признаков;
- исследовать возможные зависимости между признаками;

Шаг 4. Провести сегментацию клиентов методами кластерного анализа.

Шаг 5. Провести классификацию клиентов.

Шаг 6. Проверить гипотезы по группам:
- сформулировать и проверить гипотезы о равенстве значений показателей по получившимся группам.

In [1]:
import pandas as pd
df = pd.read_excel('project3.xlsx')
df.head()

,mdm_id,BIRTHDAY,CREDCODE,1.1,1.2,2.1,2.1.1,2.1.2,2.1.3,2.1.4,...,2.5.4,2.5.5,4,5.1,5.2,5.6,6.1,6.2,6.5,6.6
0,1493553,1981-05-08,9020,BAD,NaN,17.0,0.0,0.0,12.0,5.0,...,268000.0,271000.0,Стойка,NaN,NaN,NaN,33.0,Ж,1,1.0
1,8130758,1979-03-06,9020,BAD,NaN,4.0,0.0,0.0,2.0,2.0,...,135150.0,137574.0,Стойка,NaN,NaN,NaN,35.0,М,1,1.0
2,1782539,1957-04-29,9022,BAD,C,3.0,0.0,0.0,1.0,2.0,...,135150.0,135150.0,Стойка,NaN,NaN,МегаФон,57.0,М,1,1.0
3,12410720,1977-08-05,9022,BAD,A,3.0,0.0,0.0,1.0,2.0,...,50150.0,50150.0,Стойка,NaN,NaN,NaN,36.0,М,1,1.0
4,21309736,1978-08-15,9022,GOOD,C,5.0,0.0,0.0,2.0,3.0,...,135150.0,135150.0,Стойка,NaN,NaN,NaN,35.0,М,1,1.0

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50224 entries, 0 to 50223
Data columns (total 27 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   mdm_id    50224 non-null  int64
 1   BIRTHDAY  50224 non-null  datetime64[ns]
 2   CREDCODE  50224 non-null  int64
 3   1.1       50223 non-null  object
 4   1.2       39938 non-null  object
 5   2.1       50158 non-null  float64
 6   2.1.1     50158 non-null  float64
 7   2.1.2     50158 non-null  float64
 8   2.1.3     50158 non-null  float64
 9   2.1.4     50158 non-null  float64
 10  2.2       50191 non-null  float64
 11  2.3       50191 non-null  float64
 12  2.4       48324 non-null  float64
 13  2.5       50158 non-null  float64
 14  2.5.1     50158 non-null  float64
 15  2.5.2     50158 non-null  float64
 16  2.5.3     50158 non-null  float64
 17  2.5.4     50158 non-null  float64
 18  2.5.5     50158 non-null  float64
 19  4         50193 non-null  object
 20  5.1       47610 non-null  float64
 21  5.2       48496 non-null  float64
 22  5.6       49579 non-null  object
 23  6.1       50215 non-null  float64
 24  6.2       50215 non-null  object
 25  6.5       50224 non-null  int64
 26  6.6       49631 non-null  float64
dtypes: datetime64[ns](1), float64(18), int64(3), object(5)
memory usage: 10.3+ MB